* {
  box-sizing: border-box;
  padding: 0;
}

.navbar {
  background-color: #0a5032 !important;
  color: #fff !important;
  padding: 10px;
  margin-bottom: 20px;

  span {
    cursor: pointer;
  }
}
